.toggle {
  display: flex;
  align-items: center;
  width: 50px;
  height: 20px;
  border-radius: 30px;
  cursor: pointer;

  .toggle-circle {
    display: flex;
    position: relative;
    background: #835afd;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    transition: all 0.25s ease;
	border: 0;
  }

  &.off {
	background: #fff;  
    > .toggle-circle {
      left: 0;
    }
  }

  &.on {
	background: #333;
    > .toggle-circle {
      left: 26px;
    }
  }
}
